.Header {
    position: fixed;
    height: 70px;
    left: 0px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    padding: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1000000;

    @media screen and (max-width: 768px) {
        padding: 16px;
    }

    iframe {
        opacity: 100;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
}
