.ButtonText1 {
    height: 16px;
    left: 0%;
    right: 0%;
    top: -4px;

    font-family: FCODE;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 11px;
    font-weight: bold;
    line-height: 16px;
    /* identical to box height, or 208% */

    text-align: center;

    color: #333333;
}

.menu-item {
    cursor: pointer;
    padding: 0 8px;
    border-radius: 8px;
    box-sizing: border-box;
}
