.MDArea {
    width: 90vw;
    margin: 140px 5vw;
    opacity: 0;
    border-radius: 48px;

    animation-name: huwa_window;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    h1 {
        font-size: 35px;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 35px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    a {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .image,
    img {
        margin-bottom: 35px;
        border-radius: 15px;
    }
}

@keyframes huwa_window {
    0% {
        // box-shadow: -2px -2px 2px rgba(240, 240, 243, 0.42), 2px 2px 2px rgba(0, 0, 0, 0.13);
        opacity: 1;
        filter: blur(5px);
    }
    100% {
        // box-shadow: -10px -10px 34px rgba(240, 240, 243, 0.712), 10px 10px 34px rgba(0, 0, 0, 0.151);
        opacity: 1;
        filter: blur(0px);
    }
}

.MDArea2 {
    width: 100%;
    height: 100%;
}
